Alloy
  Collection(src="ad_address")
  Window.container(onClose="cleanup")
    ListView#adList
      ListSection(dataCollection="ad_address", dataTransform="transformAddress")
        ListItem(title="{listitem}")
