Alloy
  NavigationWindow(platform="ios")
    Window.container(title="AlloyModelStudy", onClose="cleanup")
      Require(type="view", src="index_body")
  Window.container(title="AlloyModelStudy", onClose="cleanup", platform="android")
    Require(type="view", src="index_body")
